:root {
	--squareSize: 60px;
}

body {
	background-color: lightblue;
	display: flex;
	justify-content: center;
}

#squares {
	border: 5px white solid;
	display: inline-block;
}

#squares > div {
	width: calc(var(--squareSize) * 10);
	display: flex;
}

#squares > div > div {
	width: var(--squareSize);
	height: var(--squareSize);
}

.selected  {
	width: calc(var(--squareSize) * 1.5);
	height: calc(var(--squareSize) * 1.5);
	transform: rotate(10deg);
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 25pt;
	color: black;
	background-color: white;
	height: fit-content;
	margin-left: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-width: 2px;
	border-radius: 5px;
}